<form action="/search" method="post" enctype="multipart/form-data">
    <input type="file" name="image" required>
    
    <label for="engine">Choose a Search Engine:</label>
    <select name="engine" required>
        <option value="google">Google</option>
        <option value="bing">Bing</option>
        <option value="yandex">Yandex</option>
        <option value="saucenao">SauceNAO</option>
        <option value="otherNSFW">Other NSFW Sites</option>
    </select>

    <button type="submit">Search</button>
</form>
